ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}
ul li {
    float: left;
}
ul li a {
    display: block;
    text-decoration: none;
    padding: 14px 16px;
    color: white;
}
ul li a:hover {
    background-color: rgb(34, 34, 34);
}
a:hover {
    color: #6b7fd7;
}


